body{
    /* Default settings*/
    background-color: white;
    color: black;
}

a{
    color: black;
    font-size: 25px;
    cursor: pointer;
}

/****  nav-bar  ****/

.nav-bar {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 2px solid green;
    margin: 20px;
    position: sticky;
    top: 10px;
    
}


.nav-bar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar li{
    float: left;
    margin: 20px;
}

.nav-bar a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar a:hover{
    background-color: green;
}
.icon-nav-bar {
    background-color: green;
}

.icon-nav-bar > i {
    font-size: 35px;
    cursor: pointer;
}

#clock{
    background-color: green;
    margin-bottom: 0;
    padding: 10px 20px;
    display: block;
}

/* index main*/

.search-part {
    border-bottom:2px solid green ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 100px;
}

.search-part *{
    padding: 10px;
    margin: 20px;
}
.search-part > h1 {
    font-size: 80px;
}

.search-part > h3 {
    font-size: 50px;
}

.search-part > i{
    font-size: 50px;
}

.search-part > input[type="text"] {
    width: 400px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
}

.search-part > button{
    width: 175px;
    height: 60px;
    font-size: 20px;
    background-color: green;
    border-radius: 10px;
    cursor: pointer;
}

.search-part > p{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.search-part a{
    color: green;
    text-decoration: none;
}

.search-part a:hover{
    text-decoration:underline;
}

.element-main{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
      
} 
   
.tut-part {

    border-bottom:2px solid green ;
    height: 700px;
    margin-top: 100px;
}

.tut-part > h1 {
    font-size: 80px;
    margin-left: 200px;
    height: 800px;
    
}

.tut-part > p {
    font-size: 50px;
    margin-left: 100px;
}

.tut-part > p::first-letter{
    font-size: 200%;
}

.tut-part button {
    font-size: 30px;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    background-color: green;
    color: white;
    cursor: pointer;
    margin-left: 200px;
}

.tut-part button:hover{
    background-color: beige;
    color: green;
}
.tut-part a {
    text-decoration: none;
    
}

.tut-part img{
    border: 5px solid green;
    float: right; 
    width: 700px;
    height: 500px;
    padding: 20px;
    margin-top:20px ;
    margin-right: 20px;

}

/* footer*/
.footer {
    text-align: center;
    border-bottom:2px solid green ;
    margin: 10px;
    padding: 10px
}

.footer > p {
    font-size: 20px;

}

.footer > h3 {
    font-size: 15px;
    
}

.footer > span {
    margin: 20px;
    background-color: green;
    color: white;
    font-size: 30px;
}

